#carouselExample
{
    width: 100%;
    height: 100%;
}

#carouselExample > *
{
    width: 320px;
    height: 180px;
}

#carouselExample > *:nth-child(odd)
{
    background-color: #008
}

#carouselExample > *:nth-child(even)
{
    background-color: #800
}
